# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# FastAPI specific
instance/
instance/*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs and debugging
*.log
*.log.*

# System files
.DS_Store
Thumbs.db

# Database files
*.db
